:root {
    Background-color:rgb(216, 216, 216);
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
color: black;
font-family: 'Roboto Slab', serif;
background-color: rgb(216, 216, 216);
}
/* header styles */
header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1{
   margin: 0;
   color: dimgray;
}
 li {
    display: inline-block;
 }
 a{
     color: black;
    list-style: none;
    border-bottom: 2px solid;
    text-decoration: none;
}
/* hero styling */
.hero {
 background-image: url("Codepic.jpg");
 background-size: cover;
 background-position: center;
 display: flex;
 flex-wrap: wrap;
 position: relative;
 justify-content: flex-end;
 color: darkcyan;
 font-family: 'Roboto Slab', serif;
}

.hero h2 {
    font-size: 20px;
    margin-top: 400px;
}
/* My photo */
.myphoto {
    position:absolute;
    top: 60px;
    left: 50px;
    border: 2px solid black;
    height: 317px;
    width: 202px;
}
/* About work contact section */
.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    width: 100%;
    align-items: center;
}
.header-flex {
    display: flex;
    justify-content: left;
}
.sectionheader{
    font-size: 25px;
    color: black;
    margin:0 0 0 10px ;
    width: 50%;
}
.grid-container{
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-left: 10px;
    width: 80%;
}